<h1 class="pink">Welcome Nomads!</h1>

<h2 class="pink">Weather</h2>
<h2 class="pink">Current Residents "Listing of All Residents"</h2>
<h2 class="pink"><%= link_to 'Click Here Tell Us About Youself', new_person_path %></h2>


